<div class="container" style="background-color:#F3FBFC">
  <%= simple_form_for @pool do |f|%>
    <%= f.input :name %>
    <!-- go to schema and change description to a text input instead of string -->
    <%= f.input :description %>
    <%= f.input :address %>
    <%= f.input :price_hour %>
    <%= f.input :photo, as: :file %>
    <%= f.button :submit, class: 'btn btn-primary' %>
  <% end %>
</div>
